{% extends 'base/base.html' %}

{% block content %}
<div class="jumbotron text-left">
	<h2>Acta de sesión de fallo del proceso</h2>
</div>

{% if object_list %}
<nav class="navbar navbar-expand">
	<ul>
		<div class="container">
			<a class="btn btn-primary" href="{% url 'proceso:actividad' object_list.0.proceso_id %}">Actividad del
				Proceso</a>
		</div>
	</ul>
</nav>
{% else %}
{% endif %}

{% if request.user.is_authenticated %}
<div class="container">
	<div class="row">
		<div class="col">
			<table class="table table-hover table-borderled">
				<thead>
					<tr>
						<td>Proceso</td>
						<td>Acta</td>
						<td>Fecha</td>
						<td>Documento</td>
					</tr>
				</thead>

				<tbody>
					{% if object_list %}

					{% for acta in object_list %}
					<tr>
						<td> <a href="{% url 'proceso:actividad' acta.proceso_id %}">{{ acta.proceso }}</a>
						</td>
						<td> <a href="{% url 'acta:detalle' acta.proceso_id %}">{{ acta.nombre }}</a>
						</td>
						<td>{{ acta.fecha }}</td>
						<td>
							{% if acta.docfile %}
							<a href="{{ acta.docfile.url }}">Ver</a>
							{% endif %}
						</td>
					</tr>
					{% endfor %}

					{% else %}
					<div class="alert alert-dismissible alert-warning">
						<h4 class="alert-heading">Atención!</h4>
						<p class="mb-0">No Hay Actas Registradas.</p>
					</div>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% else %}

{% endif %}

{% endblock%}