{% extends 'base/base.html' %}

{% block content %}
<div class="jumbotron text-center">
	<h3>¿Esta seguro de eliminar a '{{ object.nombre }} {{ object.apellido }}' de {{ object.ciudad }}?</h3>
	<p>
		Aviso: Se eliminará los procesos, notificaciones y declaraciones que estén relacionados con esta persona
	</p>
	<form method="post">
		{% csrf_token %}
		<div>
			<p class="lead">
				<button class="btn btn-danger" type="submit" onClick="return confirm('¿Seguro que quieres borrar a {{ object.nombre }}?');">Sí, eliminar</button>
				<a class="btn btn-primary" href="{% url 'testigo:detalle' testigo.id %}">Cancelar</a>
			</p>
		</div>
	</form>
</div>
{% endblock %}