{% extends 'base/base.html' %}

{% block content %}
<!-- Post Content -->

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
                <!-- título -->
                <h1>Delegación para la causa de las partidas</h1>
                <h2 class="subheading"></h2>
                <!-- subtítulo -->
                <span class="meta">

                </span>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <p>
                <strong>Inscripción de partidas no halladas en los libros parroquiales</strong><br>
                1. Bautismo (Requisitos <a href="https://www.dropbox.com/s/9lkj4rvf52c3g6l/BAUTISMO.docx?dl=0">AQUÍ</a>)<br>
                2. Confirmación (Requisitos <a href="https://www.dropbox.com/s/kt2up3dxyaz0xjj/CONFIRMACION.docx?dl=0">AQUÍ</a>)<br>
                3. Matrimonio (Requisitos <a href="https://www.dropbox.com/s/h0jdjlwajuhgz58/MATRIMONIO.docx?dl=0">AQUÍ</a>)<br>
                4. Defunción (Requisitos <a href="https://www.dropbox.com/s/clb16bc3md2bulr/DEFUNCION.docx?dl=0">AQUÍ</a>)<br>
            </p>

            <p>
                <strong>Corrección de nombres del titular</strong><br>
                1. Error en la grafía del nombre (Requisitos <a href="https://www.dropbox.com/s/114ygrfz74r8q59/ERROR%20EN%20GRAFIA%20DEL%20NOMBRE.docx?dl=0">AQUÍ</a>)<br>
                2. Error por figurar nombre Distinto (Requisitos <a href="https://www.dropbox.com/s/fou0ncwc3ls1xx6/ERROR%20POR%20FIGURAR%20NOMBRE%20DISTINTO.docx?dl=0">AQUÍ</a>)<br>
                3. Error por que se identifica con otro nombre (Requisitos <a href="https://www.dropbox.com/s/8rhzptmog1ukoqc/QUE%20SE%20IDENTIFICA%20CON%20OTRO%20NOMBRE..docx?dl=0">AQUÍ</a>)<br>
                4. Error porque civilmente cambio de nombre (Requisitos <a href="https://www.dropbox.com/s/h6mqhsti4opm09n/PORQUE%20CIVILMENTE%20CAMBO%20EL%20NOMBRE.docx?dl=0">AQUÍ</a>)<br>
            </p>

            <p>
                <strong>Corrección de apellidos</strong><br>
                1. Error en el nombre o apellidos de los padres (Requisitos <a href="https://www.dropbox.com/s/scj84l46b2fizkj/ERROR%20EN%20EL%20NOMBRE%20O%20APELLIDOS%20DE%20LOS%20PA.docx?dl=0">AQUÍ</a>)<br>
                2. Error en las fechas (Requisitos <a href="https://www.dropbox.com/s/lq6mgnhv4l2b6in/ERROR%20EN%20LAS%20FECHAS.docx?dl=0">AQUÍ</a>)<br>
                3. Por cambios de nombre en padrinos o testigos (Requisitos <a href="https://www.dropbox.com/s/sopijj59i0wbddi/CAMBIO%20EN%20EL%20NOMBRE%20DE%20PADRINOS%20O%20TESTIG.docx?dl=0">AQUÍ</a>)<br>
                4. Partidas de hijos de madre soltera que aparecen como legítimos (Requisitos <a href="https://www.dropbox.com/s/30jl97cwpn6leph/HIJOS%20MADRE%20SOLTERA.docx?dl=0">AQUÍ</a>)<br>
            </p>

            <p>
                <strong>Reconocimiento</strong><br>
                1. Reconocimiento paterno (Requisitos <a href="https://www.dropbox.com/s/ntxfvr7uxu6ylf1/RECONOCIMIENTO.docx?dl=0">AQUÍ</a>)<br>
                2. Por adopción (Requisitos <a href="https://www.dropbox.com/s/jlxw4b41av0q736/ADOPCION.docx?dl=0">AQUÍ</a>)<br>
            </p>

            <div class="card border-primary">
                <div class="card-header">Información de Contacto</div>
                <div class="card-body">
                    <h6>Contacto Delegación de partidas</h6>
                    <p>
                        Correo Electrónico: <a href="mailto:delegaciondepartidastunja@gmail.com">delegaciondepartidastunja@gmail.com</a><br>
                        Teléfono celular: 312 448 38 79<br>
                    </p>
                    <h6>Horario para radicar su solicitud:</h6>
                    <p>
                        7:30 am - 11 am HORARIO PARA JUNIO/2020<br>
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>

<hr>
{% endblock %}