{% extends 'base/base.html' %}

{% block content %}
<!-- Post Content -->

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-heading">
        <!-- título -->
        <h1>FORMATOS DE DEMANDA</h1>
        <h2 class="subheading"></h2>
        <!-- subtítulo -->
        <span class="meta">
          Para la declaración de nulidad del matrimonio católico existen varios tipos de procesos. Escoja el que mas
          ajuste a su caso.
        </span>
      </div>
    </div>
  </div>
</div>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <h2 class="section-heading">PROCESO ORDINARIO</h2>
        <p>Sus características principales son: un tribunal formado por tres jueces, con tres fases (introductoria,
          instructora y decisoria), se inicia con la demanda de una de las partes y se deberán aportar pruebas para
          apoyar la demanda o en su caso, contradecirla.</p>
        <p>(Descargue el Formato <a href="https://www.dropbox.com/s/ry1j5x5zkxxcrr8/FORMATO%20PROCESO%20ORDINARIO.doc?dl=0">AQUÍ</a>)</p>

        <h2 class="section-heading">PROCESO MÁS BREVE ANTE EL OBISPO</h2>
        <p>Proceso novedoso, introducido en la última reforma del Papa Francisco. Es un proceso judicial, que busca lo
          mismo que el proceso ordinario, pero abreviado. Características: el juez es el obispo de la diócesis, para
          causas de nulidad más evidentes, tiene las mismas fases que el proceso ordinario, se inicia con una petición
          dirigida al Obispo diocesano y la demanda será propuesta por los dos cónyuges o uno, con el consentimiento del
          otro.</p>
        <p>(Descargue el Formato <a href="https://www.dropbox.com/s/itbfwo2bo6e5lhw/FORMATO%20COMUN%20ACUERDO.docx?dl=0">AQUÍ</a>)</p>

        <h2 class="section-heading">PROCESO DOCUMENTAL</h2>
        <p>Proceso que se apoya en un documento que no puede oponerse ninguna objeción. El documento deberá probar un
          impedimento dirimente o defecto de forma legítimo. Características: juez único, el documento es la prueba que
          debe tener certeza absoluta, se inicia con un escrito de demanda.</p>

        <h2 class="section-heading">MATRIMONIO RATO Y NO CONSUMADO</h2>
        <p>Cuando se da el caso de la no consumación matrimonial. Es una gracia del Romano Pontífice, que concede la
          dispensa. Características: tres fases (introductoria, instructora y decisoria), la Rota Romana lo examina y lo
          manda al Papa que concede o no la gracia de la dispensa.</p>
        <p>(Descargue el Formato <a href="https://www.dropbox.com/s/dvit6v94852hlu7/FORMATO%20SUPER%20RATO.docx?dl=0">AQUÍ</a>)</p>

        <h2 class="section-heading">ETAPAS DEL PROCESO ORDINARIO</h2>
        <p><strong>1. Presentación de la demanda en el Tribunal competente</strong>
          (Can 1673) por parte de persona hábil para demandar, adjuntando los documentos requeridos: a) Partidas de
          bautismo de cada uno de los cónyuges b) Partida eclesiástica de matrimonio; c) partidas de bautismo o
          registros civiles de los hijos; d) Registro civil del matrimonio; d) comprobante de la separación civil o
          divorcio si lo hubo. La parte interesada llevará todo al Tribunal y se atendrá a las sugerencias pagando la
          cuota exigida como se acuerde en el mismo Tribunal.</p>
        <p><strong>2. Aceptación de la demanda,</strong>
          la cual se llevará a cabo cuando el juez haya comprobado que se cumplen todos los requisitos jurídicos y lo
          hará dentro del término de un mes (Can.1506; 1676).</p>
        <p><strong>3. Citación y notificación a la parte demandada</strong>
          y a todos los que deben comparecer (1508; 1677). La parte demandada, por sí misma o por medio de un abogado
          titulado en derecho canónico, tiene derecho a contestar la demanda, hacer observaciones y poner sus propios
          testigos (Can.1513ss).</p>
        <p><strong>4. Establecer la fórmula de las dudas,</strong>
          El Juez de la causa fija las causales de nulidad por las que se plantea el estudio del caso por medio de un
          Decreto. Esta fórmula la establece el juez en un plazo de 15 días después de la citación del demandado (Can.
          1677; 1514)
        </p>
        <p><strong>5. Etapa Instructoria.</strong>
          Declaración de cada una de las partes Ante el Tribunal (1530) Se abre mediante decreto del juez.
        </p>
        <p><strong>6. Presentación de pruebas.</strong>
          El Juez llama a cada una de las partes y a los testigos propuestos a rendir declaración en Tribunal, también
          se pueden presentar de documentos o cualquier otra prueba útil para el proceso. (Can. 1526; 1547-1573;
          1574-1581).
        </p>
        <p><strong>7. Publicación de las actas.</strong>
          Se llevará a cabo cuando se hayan recibido todos los testimonios; las partes pueden leerlas y los abogados
          para que se puedan hacer los alegatos finales.
        </p>
        <p><strong>8. Conclusión de la causa</strong>
          o ampliación del tiempo para recoger otras pruebas si es necesario (can. 1598).
        </p>
        <p><strong>9. Alegato Final.</strong>
          Hecho por cada una de las partes y por el defensor del Vínculo en donde hace observaciones acerca de las
          pruebas y pide que se declare nulo o no el matrimonio. Debe ser presentado por escrito ante el juez (Can.
          1601-1606)
        </p>
        <p><strong>10. SESIÓN DE FALLO</strong>
          y discusión de los jueces. Se reúnen los jueces de la causa a deliberar sobre las actas de la causa (Can.
          1608; 1612).
        </p>
        <p><strong>11. Publicación de la sentencia</strong>
          (Canon 1614; 1509)
        </p>
        <p><strong>12. Apelación.</strong>
          En caso de que el Defensor del Vinculo o alguna de las partes no se encuentren satisfechos con la sentencia
          pueden apelarla al Tribunal Nacional de Apelación habiendo pagado las costas respectivas. 1682
        </p>
      </div>
    </div>
  </div>
</article>

<hr>
{% endblock %}