{% extends 'base/base.html' %}

{% block content %}
<!-- Post Content -->
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
                <!-- título -->
                <h1>Preguntas frecuentes</h1>
                <h2 class="subheading"></h2>
                <!-- subtítulo -->
                <span class="meta">

                </span>
            </div>
        </div>
    </div>
</div>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <strong>1. ¿Qué es una declaración de nulidad matrimonial?</strong>
                <p>
                    Para que un matrimonio no sea nulo debe ser realizado en forma válida, entre personas hábiles y
                    además que sean capaces de prestar consentimiento. Es un proceso judicial, por medio del cual, los
                    jueces, después de un estudio serio e imparcial, declaran mediante sentencia la nulidad del
                    matrimonio.
                </p>
                <strong>2. ¿Cuáles son las causales que determinan la eventual nulidad de un matrimonio? </strong>
                <p>
                    Nulidades derivadas de impedimentos<br>
                <ul>
                    a.Impedimentos que nacen de circunstancias personales
                    <li>Impedimento de edad (16 años para el varón y 14 para la mujer): canon 1083</li>
                    <li>Impedimento de impotencia antecedente y perpetua: canon 1084</li>
                </ul>
                <ul>
                    b.Impedimentos que nacen de causas jurídicas
                    <li>Impedimento de vínculo o ligamen: canon 1085</li>
                    <li>Impedimento de disparidad de cultos: canon 1086</li>
                    <li>Impedimento de orden sagrado: canon 1087</li>
                    <li>Impedimento de voto público y perpetuo de castidad en un instituto religioso: canon1088</li>
                </ul>
                
                c.Impedimentos que nacen de delitos<br>
                Impedimento de rapto: canon 1089
                Impedimento de crimen: canon 1090

                d.Impedimentos de parentesco
                Impedimento de consanguinidad: canon 1091

                Impedimento de afinidad: canon 1092

                Impedimento de pública honestidad: canon 1093

                Impedimento de parentesco legal: canon 1094

                Nulidades por vicio de consentimiento
                Nulidad por carecer de uso de razón: canon 1095, 1º

                Nulidad por grave defecto de discreción de juicio: canon 1095, 2º

                Nulidad por incapacidad de asumir las obligaciones esenciales del matrimonio por causas de
                naturaleza psíquica: canon 1095, 3º

                Ignorancia de las propiedades esenciales del matrimonio: canon 1096.

                Error acerca de la persona: canon 1097 § 1

                Error acerca de una cualidad de la persona directa y principalmente pretendida: canon 1097 § 2

                Dolo provocado para obtener el consentimiento: canon 1098.

                Error determinante acerca de la unidad, de la indisolubilidad o de la dignidad sacramental del
                matrimonio: canon 1099.

                Simulación total del matrimonio o exclusión de una propiedad esencial: canon 1101

                Nulidad por atentar matrimonio bajo condición de futuro (canon 1102 § 1) o bajo condición de pasado
                o de presente que no se verifica (canon 1102 § 2).

                Matrimonio contraído por violencia o por miedo grave: canon 1103.

                Nulidades por defecto de forma
                Matrimonio nulo por celebrarse sin la asistencia del ordinario del lugar o párroco, o sin su
                delegación: canon 1108.

                Matrimonio por procurador nulo por vicio del mandato: canon 1105.
                </p>
            </div>
        </div>
    </div>
</article>

<hr>
{% endblock %}