{% extends 'base/base.html' %}

{% block content %}
<!-- Post Content -->
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
                <!-- título -->
                <h1>Comisión Arquidiocesana para la protección de menores</h1>
                <h2 class="subheading"></h2>
                <!-- subtítulo -->
                <span class="meta">
                    Con el objetivo de enfrentar el daño producido por los posibles abusos causados por miembros de la
                    Iglesia en la Arquidiócesis, responder a las necesidades actuales y construir caminos para
                    restablecer la confianza, el Arzobispado de Tunja determinó crear una nueva estructura para
                    coordinar las denuncias, acompañar a las víctimas, realizar las investigaciones pertinentes y
                    colaborar con las instituciones civiles en materias competentes.
                    <br>
                    La comisión estará coordinada por Mons. Leopoldo López Vega, Vicario Judicial de nuestra
                    Arquidiócesis.
                </span>
            </div>
        </div>
    </div>
</div>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <strong></strong>
                <p>

                </p>
            </div>
        </div>
    </div>
</article>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="card border-primary">
                <div class="card-header">¿EN QUÉ TE PODEMOS AYUDAR?</div>
                <div class="card-body">
                        Correo Electrónico: <a
                            href="mailto:protecciondemenorestunja@gmail.com">protecciondemenorestunja@gmail.com</a><br>
                        Teléfono celular: 312 448 38 67<br>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
{% endblock %}