{% extends 'base/base.html' %}

{% block content %}
<div class="jumbotron text-left">
    <h2>Recuperar Contraseña</h2>
</div>

<div class="container">
    <div class="row">
        {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form.new_password1.errors }}
            <label for="id_new_password1">Nueva contraseña:</label>
            {{ form.new_password1 }}
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirme contraseña:</label>
            {{ form.new_password2 }}
            <input type="submit" value="Cambiar mi contraseña" />
        </form>

        {% else %}

        <h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

        {% endif %}
    </div>
</div>
<hr>

{% endblock %}