Estimado usuario:

Usted ha solicitado el restablecimiento de su contraseña en Tribunal Eclesiástico de Tunja. Para ingresar una nueva contraseña haga clic en el siguiente enlace:

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Su nombre de usuario es: {{ user.get_username }}

Recuerde que...

Debe ingresar una contraseña que tenga como mínimo 5 caracteres numéricos
Este enlace funciona para restablecer su contraseña una sola vez.

**********************NO RESPONDER - Mensaje Generado Automáticamente**********************
