{% load static %}
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="{% static 'img/escudotunja.ico' %}" />

	{% block title%}
	<!-- nombre pestaña -->
	<div>
		<title>Tribunal Eclesiastico de Tunja</title>
	</div>
	{% endblock %}

	<!-- Bootstrap core CSS -->
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
		type='text/css'>
	<link
		href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
		rel='stylesheet' type='text/css'>

	<!-- Custom styles for this template -->
	<link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">

</head>

<body>
	<!-- Navigation -->
	{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img src="{% static 'img/escudotunja.png' %}" width="40">
				Tribunal Eclesiastico de Tunja
			</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				Menu
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown show">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
							aria-haspopup="true" aria-expanded="true">Contenido</a>
						<div class="dropdown-menu" x-placement="bottom-start"
							style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
							<a class="dropdown-item" href="{% url 'home:formatos' %}">Formatos de demanda de nulidad</a>
							<a class="dropdown-item" href="{% url 'home:delegacion' %}">Delegación Partidas</a>
							<a class="dropdown-item" href="{% url 'home:proteccion' %}">Protección de Menores</a>
							<!-- <div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a> -->
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'proceso:consulta' %}">Consulta Proceso</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/">Administrador</a>
					</li>
					{% if request.user.is_authenticated %}
					<li class="nav-item">
						<a class="btn-danger" href="{% url 'logout' %}">Salir</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="btn btn-primary" href="{% url 'login' %}">Iniciar Sesión</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<header class="masthead" style="background-image: url({% static 'img/hammer.jpg' %})">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h2>Bienvenidos al Tribunal Eclesiástico de Tunja</h2>
					</div>
				</div>
			</div>
		</div>

		<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
				aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				Contenido
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor03">
				<ul class="navbar-nav m-md-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'home:formatos' %}">Formatos de demanda de nulidad</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'home:delegacion' %}">Delegación Partidas</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'home:proteccion' %}">Protección de Menores</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav> -->

	</header>

	{% if request.user.is_authenticated %}
	<div class="container">
		<div class="row">
			<div class="col">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a>Usuario: {{ user.get_username }}</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{% url 'proceso:listado' %}">Procesos</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{% url 'persona:listado' %}">Partes</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{% url 'colegiado:listado' %}">Colegiado</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{% url 'testigo:listado' %}">Testigos</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{% url 'costa:listado' %}">Costas</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{% url 'reporte:reporte' %}">Reporte</a>
					</li>
				</ol>
			</div>
		</div>
	</div>
	{% else %}
	{% endif %}

	{% endblock %}

	<div class="container">
		{% block content %}
		<!-- <h4>	Bloque de contenido		</h4> -->

		{% endblock %}
	</div>

	{% block footer %}
	<!-- <h4>	Bloque de footer	</h4> -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<ul class="list-inline text-center">
						<p>
							Dirección curia:
							Carrera 2 N. 59-390 Vía Uniboyacá, Tunja, Colombia
							<br>
							Teléfono:
							(8) 7455455 – 7452099
							<br>
							Teléfono celular:
							315 519 45 64
							<br>
							Email:
							<a href="mailto:ecletun@gmail.com">ecletun@gmail.com</a>
						</p>
						<p>
							Página web:
							<a href="https://www.arquidiocesisdetunja.org/">www.arquidiocesisdetunja.org</a>
						</p>
						<p class="copyright text-muted">Copyright &copy; Para más información comuníquese al número (8)
							7452096 o al correo electrónico ecletun@gmail.com.</p>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	{% endblock%}

	{% block extrajs %}
	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	<!-- Custom scripts for this template -->
	<script src="{% static 'js/clean-blog.min.js' %}"></script>
	{% endblock %}
</body>

</html>