{% extends 'base/base.html' %}

{% block content %}
<div class="jumbotron text-left">
    <h2>{{ accion.nombre }}</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    NOMBRE DEL PROCESO
                    <span><a href="{% url 'proceso:detalle' accion.proceso_id %}">{{ accion.proceso }}</a></span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Fecha
                    <span>{{ accion.fecha }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Documento
                    {% if accion.docfile %}
                    <a href="{{ accion.docfile.url }}">Ver</a>
                    {% endif %}
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ accion.observacion }}</span>
                </li>
                {% if request.user.is_authenticated %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="btn btn-primary" href="{% url 'accion:actualizar' accion.id %}">Editar</a>
                    <a class="btn btn-primary" href="{% url 'proceso:actividad' accion.proceso_id %}">Continuar</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="btn btn-danger" href="{% url 'accion:eliminar' accion.id %}">Eliminar</a>
                </li>
                {% else %}

                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock%}